@charset "UTF-8";
button{outline:0;}
body,html{-webkit-user-select:none;-moz-user-select:none;user-select:none;height:100%; font-family: -apple-system-font, "Microsoft Yahei", sans-serif; font-family: "微软雅黑"; background:#fff; color:#464646; margin:0;padding:0;}
dd,dl,dt,li,p,ul,h2,h3,h4{margin:0;padding:0;list-style:none;}
ul{list-style:none;}
img{height:auto;vertical-align:middle;}
a{color:#333;text-decoration:none;}
a:link{-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-webkit-touch-callout:none;-moz-touch-callout:none;}
a,img{-webkit-touch-callout:none;-moz-touch-callout:none;}
b,em,i{font-style:normal;}
button,input,textarea{outline:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;appearance:none;-webkit-appearance:none;-moz-appearance:none; margin:0;padding:0;}
h1,h2,h3{font-weight:400;}
textarea{resize: none;}
p{margin:0;padding:0;}
strong{font-weight:normal;}
select{-moz-appearance:none;-webkit-appearance:none;appearance:none;background:#fff;}
img{vertical-align: middle;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
input{
	font-family: "微软雅黑";
}
.textcen{text-align: center;}
/*清除浮动*/
.clear:after{content:"";display:table;clear:both;font-size:1px;line-height:0;height:0;}

/*字体大小*/
.f12{ font-size: 12px!important; }
.f13{ font-size: 13px!important; }
.f14{ font-size: 14px!important; }
.f15{ font-size: 15px!important; }
.f16{ font-size: 16px!important; }
.f17{ font-size: 17px!important; }
.f18{ font-size: 18px!important; }
.f20{ font-size: 20px!important; }
.f24{ font-size: 24px!important; }
.f26{ font-size: 26px!important; }

/*padding*/
.p0{ padding:0!important; }
.p10{ padding:10px!important; }
.p15{ padding:15px!important; }
.ptb10{ padding:10px 0!important; }
.plr10{ padding:0 10px!important; }
.pl10{ padding-left: 10px!important; }
.pr10{ padding-right: 10px!important; }
.pt10{ padding-top: 10px!important; }
.pb10{ padding-bottom:10px!important; }


/*margin*/
.m0{ margin:0!important; }
.m10{ margin:10px!important; }
.m15{ margin:15px!important; }
.mtb10{ margin:10px 0!important; }
.mlr10{ margin:0 10px!important; }
.ml10{ margin-left: 10px!important; }
.mr10{ margin-right: 10px!important; }
.mt5{ margin-top: 5px!important; }
.mt10{ margin-top: 10px!important; }
.mb10{ margin-bottom:10px!important; }
.mb66{ margin-bottom:66px!important; }
.mt-1{ margin-top: -1px!important; }

/*文字左中右对齐*/
.tal{ text-align: left!important; }
.tac{ text-align: center!important; }
.tar{ text-align: right!important; }

/*移除伪类边框*/
.b-top:before,.b-top{ border-top: 0!important; }
.b-btm:after,.b-btm{ border-bottom: 0!important; }
.b-tb:before{ border-top: 0!important;  }
.b-tb:after{border-bottom: 0!important;}
.bodernone{border: none!important;}
/*左右浮动*/
.fl{ float: left!important; }
.fr{ float: right!important; }
.textle{
	text-align: left!important;
}
.textri{
	text-align: right!important;
}
.posire{
	position: relative;
}
.posiab{
	position: absolute;
}
/*底部浮动导航*/
.weui-fixed-btm{z-index:101;font-size: 15px; position: fixed; left: 0; bottom:0; width: 100%;box-shadow: 0 -2px 3px -1px #e0dede; background:#fff; }
.weui-fixed-btm .weui-flex__item{ text-align: center; }
.weui-fixed-btm .weui-flex__item img{height:30px ;}
.weui-fixed-btm .weui-fixed-btn{  padding:8px 15px 5px 15px; display: block; height: 50px; line-height: 20px; color: #000;}

/*按钮平分*/
.weui-list-btm{ padding:10px 5px; }
.weui-list-btm .weui-flex__item{  display: block; margin:0 5px;}

/*解决弱提示不居中*/
.weui-toast{-webkit-transform-origin: 0 0!important;-webkit-transform: scale(0.9) translate(-50%, -50%)!important;}



/*收货地址*/
.site-operation .weui-cell{
	background:#fff;
	padding:10px;
	margin-bottom:1px;
}
.site-operation .weui-cell__bd{
	padding:0 10px;
}
.site-operation .name{
	font-size: 14px;
	font-weight: bold;
}
.site-operation .name span{
	color:#1AAD19;
	border:1px solid #1AAD19;
	font-size: 12px;
	margin-left: 10px;
	padding:0 5px;
	font-weight: normal;
}
.site-operation .site{
	font-size: 13px;
}
.site-operation .phone{
	font-size: 13px;
}
.site-operation i{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 3px;
	position: relative;
	top: 6px;
}
.site-operation .compile i{
	background:url(../images/icon31.png) no-repeat;
	background-size: 24px;
}

.site-operation .delete i{
	background:url(../images/icon32.png) no-repeat;
	background-size: 24px;
}
.site-operation .weui-flex__item{
	text-align: right;
	padding-top: 5px;
}

.weui-fixed-btm .weui-btn{
	display: block;
	width: 100%;
	-webkit-box-sizing:border-box;
}
.add-site .weui-input{
	text-align: right;
}

/***************项目样式分隔线********************/
	html,
	body {
		background: #f6f7f9;
	}
	.bbqwid90{
		width: calc(100% - 30px);
		padding: 0 15px;
	}
	.weui-cells {
		font-size: 15px;
		margin-top: 0px;
		position: inherit;
	}
	.weui-navbar{
		background: #fff;
		z-index: 9999;

	}
	.weui-navbar__item:after{
		border: none!important;
	}
	.weui-navbar__item:active{
		background: none;
	}
	.indexreturn{
		height: 35px;
		margin-top: 10px;
		width: 20px;
		padding-right: 30px;
	}
	.indexreturnsou{
		height: 35px;
		margin-top: 10px;
		width: 20px;
		padding-left: 30px;
	}
	.indexreturn img{
		height: 20px;
		
	}
	.indexreturnsou img{
		height: 20px;
	}
	.bbqtab{
		display: inline-block;
		height: 35px;
		
		
	}
	.bbqtab p{
		height: 30px;
		float: left;
	}
	.bbqtabblue{
		display: none;
		background: linear-gradient(to right, #73f6f3 , #27d3d2);
		border-radius: 5px;
		height: 5px;
		width: 60%;
		float: left;
		margin-left: 20%;
	}
	.weui-bar__item--on .bbqtab .bbqtabblue{
		display: inline-block;
	}
	
	
	
	.head {
		text-align: center;
		height: 45px;
		line-height: 45px;
		box-shadow: 0 1px 1px 1px #f7f7f7;
		background: #fff;
		color: #000;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1000000;
		width: 100%;
	}
	
	 .return {
		position: absolute;
		left: 0;
		top: 0;
		width: 45px;
		height: 45px;
	}
	
	 .return:after {
		content: " ";
		display: inline-block;
		height: 13px;
		width: 13px;
		border-width: 2px 2px 0 0;
		border-color: #C8C8CD;
		border-style: solid;
		-webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
		transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
		position: absolute;
		transform: rotate(225deg);
		left: 16px;
		top: 14px;
	}
	
	.head .operation {
		position: absolute;
		right: 0;
		top: 0;
		width: 60px;
		height: 45px;
		color: #27d3d2;
	}
	
	.personal .tx {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
	
	.personal .weui-input {
		color: #999;
	}
	.bbqbanner{
		/*padding-top:55px ;*/
		background: #fff;
	}
	.bbqul{
		background: #f6f7f9;
		margin-top: 10px;
	}
	.bbqlist{
		padding: 10px 15px ;
		background: #fff;
    	display: inline-block;
    	width: calc(100% - 30px);
    	float: left;
    	margin-bottom: 10px;
    	padding-top: 1.2rem;
    	padding-bottom: 1.2rem;
    	position: relative;
	}
	.bbqlistimg{
		width: 3rem;
		height: 3rem;
		border-radius: 1.5rem;
		overflow: hidden;
		float: left;
		position: relative;
		z-index: 10;
	}
	.bbqguanzimg{
		width: 2.3rem;
		height: 2.3rem;
		border-radius: 1.15rem;
		overflow: hidden;
		float: left;
	}
	.bbqqxguanzimg{
		width: 1.5rem;
		float: left;
		font-size: 7px;
		color: #bfbfbf;
		text-align: center;
		position: absolute;
		right: 15px;
		top: 1.3rem;
	}
	.bbqqxguanzimg img{
		width: 1.5rem;
		height: 1.5rem;
	}
	.bbqguanzimg img ,.bbqlistimg img{
		width: 100%;
		min-height: 100%;
	}
	.bbqlistword{
		float: right;
		width: calc(100% - 3.2rem );
		padding-left: 0.2rem
	}
	.bbqguanzword{
		float: left;
		width: calc(100% - 4rem);
		/*padding: 0.1rem 0;*/
		padding-left: 0.2rem;
	}
	.renzicon{
	    width: 1.6rem;
	    left: 0.9rem;
	    position: absolute;
	    top: 0.6rem;
	    z-index: 100;
	}
	.renzicons{
	    width: 1.5rem;
	    left: 2rem;
	    position: absolute;
	    top: 0.5rem;
	    z-index: 1;
	}
	.renzdeicon{
	    width: 1.3rem;
	    left: 0.9rem;
	    position: absolute;
	    top: 3.2rem;
	    z-index: 100;
	}
	.renzdeicons{
	    width: 1.5rem;
	    position: absolute;
	    z-index: 1;
        top: 3.1rem;
    	left: 1.7rem;
	}
	.bbqname{
		color: #000;
		font-size: 14px;
		padding-top: 0.6rem;
		height: 18px;
		
	}
	.bbqguanzname{
		color: #000;
		font-size: 15px;
	    padding: 0.2rem 0;
		padding-top: 0.2rem;
		height: 18px;
	}
	.bbqtime{
		color: #c9c9c9;
		font-size: 11px;
		height: 20px;
		line-height: 15px;
		vertical-align: middle;
		float: left;
		margin-right: 0.1rem;
		    margin-top: 4px;
	}
	.bbqbla{color: #000;}
	.bbqneirdetail{
		color: #2e2d32;
		line-height: 20px;
		padding-bottom: 10px;
		display: inline-block;
		width: 100%;
		word-break:break-all;
	}
	.bbqneir{
		color: #2e2d32;
		line-height: 20px;
		margin-bottom: 10px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		word-break:break-all;
	}
	.bbqwz{
		    height: 13px;
		    float: left;
		    margin-top: 1px;
	}
	.bbqsous{
		background: #F7F7F7;
		width: calc(100% + 15px - 60px);
		height: 35px;
		border-radius: 7px;
		line-height: 35px;
		margin: 5px 0;
		text-align: left;
	}
	.bbqsous input{
		line-height: 30px;
		border: none;
		background: none;
		vertical-align: middle;
		font-size: 12px;
	}
	.bbqsous img{
		height:18px;
		vertical-align: middle;
		padding-left: 0.2rem;
		
	}
.bbqbuttonthree{
	height: 20px;
	width: 100%;
	padding: 5px 0;
}
.bbqphotobtn{
	color: #fff;
    position: absolute;
    bottom: 15px;
    right: 0;
    display: inline-block;
    width: initial;
}

.bbqbuttonthree img{
	height: 100%;
	float: left;
}
.bbqbuttonspan{
	width: 1.6rem;
	padding-left: 0.2rem;
	padding-right: 0.5rem;
	vertical-align: middle;
    font-size: 13px;
    float: left;
}
.bbqlistimgs{
	width: 100%;
	    height: inherit;
    display: inline-block;
}
.bbqlistimgs .listimgs{
	width: calc(100% / 3 - 4px);
	float: left;
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 2px;
    margin-bottom: 4px;
}
.listimgs{
	background: no-repeat center;
	background-size:cover ;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	
}
.bbqlistimgs .listimgs img{
	border-radius: 10px;
	object-fit: cover;
	max-width: inherit; 	
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    height:100% ;
    width:100% ;

}
.bbqreturn{
	    position: absolute;
    top: -10px;
    left: 11px;
}
.bbqfb{
	width:100%;
	bottom: 31px;
	position: absolute;
	
}
.bbqfbtn{
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 1.75rem;
	box-shadow: 0 -2px 3px -1px #e0dede;
	margin: auto;
	background: #fff;
	padding: 0.2rem;
	
}
.h30{
	height: 30px;
}
.bbqfb img{
	height: 100%!important;
	width: 100%!important;
}
.bbqfbtanc{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 502;
	display: none;
}
.bbqgengdtanc{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index:  99999999;;
	display: none;
}
.bbqgengdtanc .gengdbg{
	background: #fff;
	padding: 1rem;
	margin: auto;
	width: 50%;
	border-radius: 10px;
	margin-top: 50%;
}

.bbqgengdtanc .gengdbg .tit{
	background: #f5f5f7;
	color: #393a3c;
	border-radius: 15px;
	width: 100%;
	line-height: 2rem;
	margin: 0.3rem 0;
	text-align: center;
	display: inline-block;
}

.bbqtcxz{
	background: #27D3D2!important;
	color: #fff!important;
}	

.bbqgengdtanc .gengdbg .titbtn{color: #c54875;
	width: 100%;
	line-height: 40px;
	margin: 0.3rem 0;
	text-align: center;
	display: inline-block;
}

.bbqjubtanc{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 9999999;
	display: ;
}
.bbqjubtanc .gengdbg{
	background: #fff;
	padding: 1rem;
	margin: auto;
	width: 70%;
	border-radius: 10px;
	margin-top: 20%;
	display: inline-block;
	margin-left: calc(15% - 1rem)
}

.bbqjubtanc .gengdbg .tit{
	background: #f5f5f7;
	color: #393a3c;
	border-radius: 15px;
	width: 100%;
	line-height: 2rem;
	margin: 0.3rem 0;
	text-align: center;
	display: inline-block;
}
.bbqjubtanc .gengdbg .tittext{
	background: #fff;
	color: #393a3c;
	border-radius: 15px;
	width: calc(100% - 1rem);
	height: 3rem;
	line-height: 1rem;
	margin: 0.3rem 0;
	border: 2px solid #f5f5f7;
	padding:0 0.5rem;
	font-family: "微软雅黑";
}	
.bbqjubtanc .gengdbg .titbtn{color: #c54875;
	width: 50%;
	
	float: left;	
	line-height: 40px;
	margin: 0.3rem 0;
	text-align: center;
	display: inline-block;
}
.fbtanbg{
	height: 0;
	width: 100%;
	background: #f2f2f2;
	border-radius: 10px 10px 0  0;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: height 0.2s;
}
.fbtanbtn{
	width: 80%;
	margin: auto;
	margin-top: 2rem;
	    height: inherit;
	}
.fbtanbtnw{
	width:calc(100% / 3);
	height: auto;
	float: left;
	text-align: center;
	color: #000;
	font-weight: 700;
    line-height: 30px; 
}
.fbtanbtnown{
	width:1.8rem;
	height: 1.8rem;
	margin: auto;
	background: #fff;
	border-radius: 10px;
    border:9px solid #fff;
	
}
.fbtanbtnown img{
	width: 100%;
	vertical-align: -webkit-baseline-middle;
}
#bbqtanchide{
	    background: #F2F2F2;
	    /*box-shadow: none;*/
}
.bbqguanb{
	position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
}
.bbqguanb img{
    height: 16px;
    width: 16px;
}
.bbqfabword{
	padding-top: 55px;
	background: #fff;
}
.bbqfabword textarea{
	width: 100%;
	border: none;
	font-size: 15px;
	resize:none;
	color: #000;
	min-height: 5rem;
	font-family: "微软雅黑";
}
.weui-uploader__input-box{
	background: #f7f7f7;
	border: none;
	border-radius: 10px;
}
.weui-uploader__input-box:before, .weui-uploader__input-box:after{
	    background-color: #d4d4d4
}
.bbqbiaoq{
	background: #f7f7f7;
	border-radius: 10px;
	 padding: 0.2rem 0.5rem;
	display: inline-block;
	float: left;
	margin: 10px 10px 10px 0;

}
.bbqindexbiaoq{
	background: #F6F7F9;
    display: inline-block;
    padding: 0.1rem 0.3rem;
    border-radius: 10px;
    margin: 0.2rem 0;
    color: #27D3D2;
}
.pb70{
	padding-bottom: 70px;
}
.weui-cell{
	padding: 0;
}
.wid100{
	width: 100%!important;
}
.weui-check__label:active{
	background: #fff;
}
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before{
	color: #27d3d2;
	font-size: 21px;
}
.weui-vcode-btn{
	    height: 21px;
	    line-height: 21px;
	        color: #27D3D2;
	        font-family: "微软雅黑";
	        font-size: 15px;
}
.weui-dialog__btn{
	    color: #27D3D2;
}
.weui-mask{
	z-index: 9999999;
}
.weui-dialog, .weui-toast{
	    z-index: 9999999;
}
.bbqfff{
	background: #fff;
}
.pt50{
	padding-top:45px ;
	background: #fff;
}
.mt0{
	margin-top: 0!important;
}
.pt0{
	padding-top: 0!important;
}
.return:after{
	border-color:#000;
}
.bbqpl{
	color: #000;
	padding-bottom: 5px;
}
.bbqplname {
	width: 100%;
	color: #000;
	font-size: 14px;
		height: 20px;
		padding-top: 0.5rem;
	
}
.bbqgreen{
	color: #27d3d2!important;
}
.plname {
	width: 50%;
	float: left;
	
	height: 18px;
}

.plbut {
	height: 20px;
	/*width: 50%;*/
	float: right;
}
.pllistimg{
	width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    overflow: hidden;
    float: left;
        position: relative;
    z-index: 10;
}
.pllistimg img{
	width: 100%;
}
.plbut img {
	height: 100%;
	float: right;
    margin-left: 1rem;
    padding-right: 2px;
}

.plbutspan {
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	vertical-align: middle;
	font-size: 13px;
	float: right;
	text-align: right;
}
.pllistword{
	    float: right;
    width: calc(100% - 2.5rem - 10px);
    padding-left: 10px;
}

.pllist{
	width: 100%;
	padding: 20px 0;
	display: inline-block;
	border-top: 1px solid #f6f7f9;
	position: relative;
}
.pllist .renzdeicon{
	width: 1.3rem;
    left: 0.2rem;
    position: absolute;
    top: 0.4rem;
    z-index: 100;
}
.pllist .renzdeicons{
	width: 1.5rem;
    position: absolute;
    z-index: 1;
    top: 0.4rem;
    left: 1.0rem;
}
.bbqshur{
	position: fixed;
	bottom: 0;
	box-shadow: 0 -2px 3px -1px #e0dede;
	background: #Fff;
	color: #bcbcc6;
	padding: 5px 15px;
	line-height: 30px;
	padding-bottom: 30px;
	z-index: 101;
}
.bbqtctext{
	position: fixed;
	z-index: 10000;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 30px;
	display: none;
}
.bbqtctext textarea{
	border:1px solid #000;
	/*min-height:3rem;*/
	padding: 0.1rem;
}
.bbqdbtn{
	background: #fff;
	font-family: "微软雅黑";
    margin: 0!important;
    float: right;
    padding: 0.1rem 0.4rem!important;
    font-size: 15px;
    margin-bottom: 5px!important;
}
.pltwo{
	background: #f6f7f9;
	    line-height: 25px;
    padding: 5px 0;
}
.pltiaoz{
	color: #787878;
}
.bbqtpword{
	position: fixed; color: #fff; bottom:0; z-index: 100000; padding-bottom: 45px;
    background: rgba(0,0,0,0.5);
    padding-top: 10px;
    display: none;
}
.tpspan{
	    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
}
.tpzhankbtn{
	position: fixed;
	color: #000;
	background: #919191;
	padding:0.05rem 0.3rem;
	border-radius: 5px;
	bottom: 15px;
	z-index: 100001;
	left: 15px;
	font-size: 13px;
	height: 20px;
	vertical-align: middle;
}
.tpzhankbtn img{
	height: 80%;
}
.bbqgrimg{
	width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    margin-top:30px;
    position: relative;
    z-index: 100;
}
.bbqgrimg img{
    width: 3.5rem;
    min-height: 3.5rem;
     overflow: hidden;
     border-radius: 1.75rem;
}
.renzmyicon{
    width: 1.8rem!important;
    min-height: 1.8rem!important;
    left: 0.3rem;
    position: absolute;
    top: -0.8rem;
    z-index: 100;
}
.renzmyicons{
    width: 1.7rem!important;
    min-height: 1.7rem!important;
    right: 0.3rem;
    position: absolute;
    top: -0.8rem;
    z-index: -1;
}
.bbqgrname{
	text-align: center;font-size: 17px;color: #000;padding: 8px 0;
}
.bbqlabelbg{width: 100%; height: 30px;}
.bbqlabel {
	margin: 0 0.1rem;
	padding: 3px 0.2rem;
	height: 15px;
	border-radius: 7px;
	background: #aed203;
	color: #fff;
	line-height: 15px;
	vertical-align: middle;
	font-size: 12px;
	display: inline-block;
}
.bbqguanzlabel {
	float: right;
	padding: 3px 0.2rem;
	height: 13px;
	border-radius: 7px;
	background: #aed203;
	color: #fff;
	line-height: 13px;
	vertical-align: middle;
	font-size:  0.5rem;
	margin-right: 0.2rem;
}

.bbqguanzlabel img,
.bbqlabel img {
	height: 100%;
	vertical-align: sub;
}

.bbqlabelt {
	background: #ff9808;
	height: 21px;
	margin: 0 0.1rem;
	padding: 0 0.2rem;
	border-radius: 7px;
	color: #fff;
	line-height: 21px;
	font-size: 12px;
	display: inline-block;
	
}

.bbqguanzlabelt {
	background: #ff9808;
	height: 17px;
	float: left;
	padding: 1px 0.2rem;
	border-radius: 7px;
	color: #fff;
	line-height: 17px;
	vertical-align: middle;
	font-size: 0.5rem;
}
.bbqdj{
	background: url(../images/dengji-icon.png) no-repeat center ;
	background-size: 80%;
	display: inline-block;
	width: 21px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	float: left;
}
.bbqguanzdj{
	background: url(../images/dengji-icon.png) no-repeat center;
	background-size: cover;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	    vertical-align: bottom;
}
.wid50{
	width: 50%; float: left;text-align: center;
}
.bbqjingy{
	height: auto; display: inline-block;width: 100%;padding: 8px 0;
}
.bbqjingy p{
	color: #000;
}
.bbqjingy span{
	color: #888888;
}
.bbqgebtn{
	width: 33.333333%; float: left;text-align: center; 
}
.bbqgebtn img{
	width: 34%; margin: auto;
}
.bbqcell {
	margin-top: 10px;
	background: #f6f7f9;
}
.bbqlogin .weui-input{
	    color: #464646;
}
.bbqcell .weui-cell{
	padding: 8px 0 ;
	margin-bottom: 1px;
	background: #fff;
}
.bbqcell .weui-cell__bd{
	font-size: 15px;
	color: #000;
	line-height: 35px;
}
.bbqcell .weui-cell__hd img{
	width: 25px;
	height: 25px;
	padding-left: 8px;
	
}
.weui-cell::before{
	border: none!important;
}
.bbqbianj{
	position: absolute;
	right: 5px;
	z-index: 100;
	bottom:calc(1.75rem - 15px);
	color: #888888;
}
.bbqperson {
	background: #f6f7f9;
}
.bbqperson .weui-cell{
	font-size: 15px;
	border-bottom: 1px solid #f6f7f9;
	width: calc(100% - 30px);
    padding: 10px 15px;
    background: #fff;
}
.bbqxinx{
	border: none!important;
	font-size: 15px;
}
.bbqxinx span{
	font-size: 12px;
}
.bbqggtxbtn{
	height: 20px;
	width: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.weui-input{
	width: auto;
}
/*.matop{
	margin-top: 0.8rem;
	font-size: 10px;
	    height: 13px;
	    line-height: 13px;
}*/
.bbqguanzxzt{
	border: 2px solid #000;
	border-radius: 10px;
	padding: 0.1rem 0.3rem;
	font-weight: bold;
	left: 3rem;
	line-height: 20px;
	display: inline-block;
	margin: 0.4rem 0;
}
.mabottom1{
	margin-bottom: 1px;
}
.bbqremen{
	position: absolute; right: 15px; 
}
.bbqremen img{
	width: 1.5rem;
}
.bbqgz{
	padding: 10px 15px;
    background: #fff;
    display: inline-block;
    width: calc(100% - 30px);
    float: left;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.bbqdetailshead{
	height: 6rem;
	background: url(../images/geren-bg.png) #2f3b37 bottom no-repeat ;
	background-size:contain ;
}

.bbqdetahead{
	background: #2f3b37;
	color: #fff;
	box-shadow: none;
}
.bbqdetahead .return:after{
	border-color:#fff ;
	
}
.bbqdetailsbg{
	position: absolute;
	top: 4.5rem;
	background: none;
	z-index: 10000;
}
.bbqdetails{
	padding-top: 1rem;
}
.bbqderailsbtn{
	width: 100%;
	float: left;
}
.bbqdetailgz{
	border-radius: 10px;
	height: 20px;
	border: 2px solid #000;
    padding: 0.1rem 0.4rem;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
    margin: 0.2rem 0.2rem 18px 0.2rem;
    float: left;
}
.bbqdetailgz img{
	height: 100%;
	    vertical-align: baseline;
}
.detailslist{
	/*display: inline-block;*/
	/*padding-top: 2.5rem;*/
}
.bbqdetalistbg{
	border-left:1px solid #cfcecd;
	/*display: inline-block;*/
	margin-left: 0.5rem;
	position: relative;
	
}
.bbqdetalist{
    display: inline-block;
    background: #fff;
    border-radius: 10px;
    margin-left: 0.5rem;
    width: calc(100% - 0.5rem - 1rem);
    margin-bottom: 1rem;
    padding:0.5rem
}
.detailstime{
	font-weight: bold;
	color: #000;
	font-size: 16px;
    line-height: 0.8rem;
	padding:0 0 0.5rem 0.5rem;
}
.detailsborder{
	width: 0.4rem;
	height: 0.4rem;
	border: 0.2rem solid #27d3d2;
	display: inline-block;
	background: #fff;
	border-radius: 0.6rem;
	position: absolute;
	left: -0.4rem;
	top: 0;
	
}
.mb1{
	margin-bottom: 1px;
}
		
.newlist-ul {
	/*touch-action: none;*/
	overflow: hidden
}

.newlist-li {
	border-bottom: 1px solid #fcfcfc;
	position: relative;
	background: #fff;
	-webkit-transition-duration: -webkit-transform .1s;
	transition-duration: transform .1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.con {
	position: relative;
	z-index: 7;
	display: inline-table;
	margin: 0.3rem 0;
}
.con .bbqguanzname{
	line-height: 2.3rem;
	 color: #000;
    font-size: 15px;
    height: 2.3rem;
    padding:0;
}
.newstime{
    width: 100%;
}
.newcol{
	 color: #888;
    font-size: 15px;
    padding-top: 0.7rem;
     line-height: 15px;
}
.mewsname{
	    line-height: 15px;
    padding-top: 0.7rem;
}
.mt03{
	margin-top: 0.3rem;
}
.newsimg{
	width: 3rem;
    height: 3rem;
    border-radius:10px;
    float: right;
    line-height: 1rem;
	 overflow: hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-line-clamp: 3;
	  -webkit-box-orient: vertical;
	  font-size: 13px;
}
.newsimg img {
    width: 100%;
    min-height: 100%;
}


.newsbtn {
	position: absolute;
	top: 0;
	right: -3.6rem;
	text-align: center;
	background: #27d3d2;
	color: #fff;
	width:3.6rem;
	z-index: 2;
	height: 3.6rem;
}
.bbqxztbtn{
	position: absolute;
	top: 0;
	right: -4.5rem;
	color: #27d3d2;
	width:4.5rem;
	z-index: 2;
	line-height: 3.5rem;
	height: 3.5rem;
	background: url(../images/sidiao-bg.png) no-repeat right center;
	background-size:contain ;
	text-align: right
	
}
.bbqxztbtn p{
	padding-right: 0.6rem;
}
.newsbtn img {
	width: 60%;
    margin: auto;
    height: 60%;
    margin-top: 20%;
}

.btn div:nth-of-type(2) {
	background: red;
}
.widin{
	width: initial;
}
.bbqxztbg{
	background: url(../images/xiaozhit-bg.png) #27d3d2 repeat-y;
	background-size:cover ;
}
.bbqxztdetailbg{
	background-size:cover ;
}
.bbqdetailbgbl{
	    position: fixed;
    width: 100%;
    top: 2rem;
}
.bbqdetailbgiphon{
	 position: fixed;
    width: 5rem;;
    top: 0;
    right: 0;
}
.bbqdetailbgbo{
	position: fixed;
    width: 100%;
    bottom: 0;
}
.backnone{
	background: none!important;
}
.bbqzht-li {
	position: relative;
	-webkit-transition-duration: -webkit-transform .1s;
	transition-duration: transform .1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0.2rem 0;
	border-radius: 10px;
    border: 2px solid #000;
    width: 100%;
    background: #fff;
    display: inline-block;
    overflow: hidden;
}
	 
.bbqxztword{
	width: calc(100% - 4.5rem);
	float: left;
    padding-left: 0.3rem;
    line-height: 1.15rem;
    color: #000;
    padding-top: 0.6rem;
}
.bbqxztdetailword{
	width: calc(100% - 1.2rem)!important;
	float: left;
    line-height: 1.15rem;
    color: #000;
    padding: 0.6rem;
    background: url(../images/xiaozhit-shuru-bg.png) repeat-y;
    background-size:cover ;
    line-height: 25px;
    
}
.detailright{
	text-align: right;
}
.bbqxztdetailword .detail{
	text-indent: 25px;
}
.xztma{
	 margin: 0.6rem 0 0.6rem 1rem;

}
.bbqweid{
	background: #e8102f;
	width: 0.7rem;
	height: 0.7rem;
	position: absolute;
	border-radius: 0.35rem;
	top: 0;
	left: -0.1rem;
	z-index: 1000;
	color: #fff;
}
.grxwd{
	color: #fff;
	font-size: 0.5rem;
	line-height: 0.7rem;
	font-weight: bold;
	left: 33.5%;
	top: -0.2rem;
	text-align: center;
}
.bbqnewweid{
	background: #e8102f;
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	border-radius: 0.35rem;
	top: 0.6rem;
	left: calc(4px + 2.3rem);
	z-index: 1000;
}
.bbqxztbj{
	width: 3rem;
	height: 3rem;
	position: fixed;
    bottom: 2rem;
    right: 10px;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 8px 0px #333;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 11px;
    line-height: 20px;
	
}
.bbqxztbj img{
	width: 100%;
	height: 100%;
}
.detailsli{
	margin-top: 1.5rem;
	/*display: inline-block;*/
}
.detailtit{
	    height: 3rem;
	    display: inline-block;
	    position: absolute;
	    z-index: 5;
	    top: -1.5rem;
	    left: 0;
}
.detailtop{
	padding-top: 1rem;
	padding-bottom: 0.1rem;
}
.detailtopbor{
	 border-bottom: 1px solid #bcae9c;
}
.detailtit img{
	height: 100%;
}
.pushhei{
	height:100%;
	width: 100%;
	display: inline-block;
}
.pushheili{
	height:calc(100% - 45px)
}
.pushheird{
	height:calc(100% - 1.2rem)!important;
}
.pushheiul{
	height:calc(100% - 30px);
}
.pushhei80{
	height:80%;
	 width: calc(100%);
}
.xztpushname{
	border: none;
	background: none;
	font-family: "微软雅黑";
	font-size: 15px;
}
.xztpushcon{
	border: none;
	background: none;
	width: 100%;
	height:calc(100% - 1.8rem - 70px);
	font-family: "微软雅黑";
	margin-top: 0.2rem;
	    text-indent: 25px;
	    font-size: 15px;
}
::-webkit-input-placeholder { 
  color: #bcae9c;
}
.bbqsous ::-webkit-input-placeholder { 
  color: #ABABAB;
}
.likespan{
	padding-left: 23px;
}
.bbqshoucangtanc{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
	display: none;
}
.bbqshoucangtanc img{
	width: 50%;
	margin-left: 25%;
	margin-top: 50%;
}
.weui-btn_primary{
	background-color:#27D3D2;
	    line-height:1.8rem;
	    font-size: 15px;
}
.tpzhengjian{
	height: 5rem;
	overflow: hidden;
	width: 7rem;
	margin-left: 0.1rem;
}
.tpzhengjian img{
	height: 100%;
}
.weui-popup__modal .weui-cells::before{
	border:none
}
.weui-popup__modal .weui-cells:after{
	border: none;
}
.weui-cells_checkbox .weui-icon-checked:before{
	    font-size: 21px;
}
.vermiddle{
	vertical-align: middle;
}
.bbqxb{
	height: 12px;
	margin-left: 0.15rem;
}
.bbqgrjname{
	position: absolute;
    left: 15px;
    bottom: 5px;
    font-size: 14px;
}
.headbg-out {
	position: relative;
	background-color: #fe0000;
	z-index: 10;
}
.userinfo-bg {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 32%, rgba(246,247,249,1) 22%, rgba(246,247,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 32%,rgba(246,247,249,1) 22%,rgba(246,247,249,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 32%,rgba(246,247,249,1) 22%,rgba(246,247,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f6f7f9',GradientType=0 );
}
.bbq404{
	text-align: center;
    color: #888888;
    width: 70%;
    margin: auto;
    padding-top: 2rem;
}
.bbq404 img{
	width: 100%;
}
.p50{
	padding-top: 50px;
}
.bbqzt404{
	    color: #666;
    text-align: center;
    border: 1px solid #666;
    background: rgba(255,255,255,0.6);
}
.bbqsear{
	display: inline-block;
	padding-bottom: 10px;
	width: 100%;
}
.bbqseartit{
	background: #fff;
	color: #2e2d32;
    line-height: 24px;
        padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f7f9;
	
}
.bbqseartit span{
	color: #27D3D2 ;
}
.bbqseartit button{
	background: none;
	border: none;
	font-size: 15px;
	color: #646464;
	float: right;
    line-height: 24px;
}
@media screen and (max-width: 343px) {
  .weui-navbar__item{
    padding: 0px 5px;
  }
}
.weui-loadmore__tips{
	    padding: 10px 0;
}
.bannerdetails{
	width: 100%;
	padding-top: 46px;
}
.bannerdetails img{
	width: 100%!important;
	margin: auto;
    display: block;
}
.bbqtucbtn{
	width: 80%!important;
	margin-top: 1rem;
}
